* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100vh;
  background: url(github.jpeg) no-repeat center center fixed;
  background-size: 100% 100%;
  background-size: cover;
}

#container,
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
#container img {
  width: 200px;
  height: auto;
  margin: 10px;
}
h2 {
  
  text-align: center;
  padding-top: 12px;
  background-image: linear-gradient(
      135deg,
      rgba(180, 142, 8, 0.2) 0%,
      rgba(180, 142, 8, 0.2) 16.667%,
      rgba(195, 74, 7, 0.2) 16.667%,
      rgba(195, 74, 7, 0.2) 33.334%,
      rgba(190, 97, 7, 0.2) 33.334%,
      rgba(190, 97, 7, 0.2) 50.001%,
      rgba(175, 165, 9, 0.2) 50.001%,
      rgba(175, 165, 9, 0.2) 66.668%,
      rgba(170, 188, 9, 0.2) 66.668%,
      rgba(170, 188, 9, 0.2) 83.335%,
      rgba(185, 120, 8, 0.2) 83.335%,
      rgba(185, 120, 8, 0.2) 100.002%
    ),
    linear-gradient(
      90deg,
      rgba(180, 142, 8, 0.2) 0%,
      rgba(180, 142, 8, 0.2) 16.667%,
      rgba(195, 74, 7, 0.2) 16.667%,
      rgba(195, 74, 7, 0.2) 33.334%,
      rgba(190, 97, 7, 0.2) 33.334%,
      rgba(190, 97, 7, 0.2) 50.001%,
      rgba(175, 165, 9, 0.2) 50.001%,
      rgba(175, 165, 9, 0.2) 66.668%,
      rgba(170, 188, 9, 0.2) 66.668%,
      rgba(170, 188, 9, 0.2) 83.335%,
      rgba(185, 120, 8, 0.2) 83.335%,
      rgba(185, 120, 8, 0.2) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(180, 142, 8, 0.2) 0%,
      rgba(180, 142, 8, 0.2) 16.667%,
      rgba(195, 74, 7, 0.2) 16.667%,
      rgba(195, 74, 7, 0.2) 33.334%,
      rgba(190, 97, 7, 0.2) 33.334%,
      rgba(190, 97, 7, 0.2) 50.001%,
      rgba(175, 165, 9, 0.2) 50.001%,
      rgba(175, 165, 9, 0.2) 66.668%,
      rgba(170, 188, 9, 0.2) 66.668%,
      rgba(170, 188, 9, 0.2) 83.335%,
      rgba(185, 120, 8, 0.2) 83.335%,
      rgba(185, 120, 8, 0.2) 100.002%
    ),
    linear-gradient(90deg, rgb(233, 192, 114), rgb(236, 17, 0));
}
input {
  width: 200px;
  height: 30px;
  text-align: center;
}
input:hover {
  background-color: bisque;
}
#button {
  width: 60px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
}
#button:hover {
  color: blueviolet;
  font-size: 1rem;
}
.fa-github,
.fa-user {
  color: white;
}
.fa-user{
  margin-top: 20px;
}
h3,
h4,
h5 {
  width: 150px;
  background-color: aliceblue;
  text-align: center;
  margin: 0;
  padding: 5px;
  color: orange;
}
h3 {
  border-radius: 5px 5px 0 0;
}
h5 {
  border-radius: 0 0 5px 5px;
}
img {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(238, 203, 115);
}
